@{
    ViewData["Title"] = "Pagina Inicial";
}

<h1>Olá, Bem vindo!</h1>

Selecione a aplicação.
<div class="container text-center">
    <div class="row justify-content-md-center">

        <div class="col col-lg-2">
            <i class="bi bi-calculator text-warning"></i>
            <a class="btn btn-secondary" asp-controller="CalculadoraGastos" asp-action="Index">Calculadora de Gastos</a>
        </div>
        <div class="col col-lg-2">
            <i class="bi bi-list-columns-reverse text-info"></i>
            <a class="btn btn-secondary" asp-controller="ListaTarefas" asp-action="Index">Gerenciador Lista de Tarefas</a>
        </div>
        <div class="col col-lg-2">
            <i class="bi bi-kanban text-success"></i>
            <a class="btn btn-secondary" asp-controller="ClientesProdutos" asp-action="Index">Cadastro Clientes & Produtos</a>
        </div>
        <div class="col col-lg-2">
            <i class="bi bi-shop text-danger"></i>
            <a class="btn btn-secondary" asp-controller="Restaurante" asp-action="Index">Pedidios Restaurantes</a>
        </div>
    </div>
</div>

<style>
    div i{
        font-size:5em;
    }
</style>
