@using Hub_App.Models.CalculadoraDiaria
@model Gasto
@{
    ViewData["Title"] = "Criar";
}
<h2>Adicionar Novo Gasto</h2>

<form asp-action="Create" asp-controller="CalculadoraGastos" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" id="nome" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="valor" class="form-label">Valor</label>
        <input asp-for="Valor" class="form-control" id="valor" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="dataGasto" class="form-label">Data do Gasto</label>
        <input asp-for="DataGasto" type="date" class="form-control" id="dataGasto" />
        <span asp-validation-for="DataGasto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
